#console {
  /* This is gonna be in front of a lot of other content */
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-color: #000;
  color: #fff;

  font-family: 'ClaCon2', 'Consolas', 'Courier New', Courier, monospace;

  z-index: 30;

  cursor: wait;
}

#console .container {
  margin: 20px;
}

#megatrends {
  display: block;
}

/* Logo container, not logo itself */
#mg_logo {
  display: flex;
  flex-direction: row;
  font-size: 42px;

  margin-bottom: 20px;
}

#megatrends img {
  height: 100px;
}

/* "Canadian Megatrends" */
#mg_beside {
  font-family: 'Times New Roman', Times, serif;
}

#console .message {
  display: block;
}

/* Used for OK and ERR messages */
#console .console_append {
  display: inline-block;
}

#console .green {
  color: #00ff22;
}

#console .red {
  color: #ff0000;
}