#desktop {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-image: url('../image/bliss.jpg');
  background-size: cover;
}

#taskbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  bottom: 0;
  height: 36px;
  width: 100vw;

  background-image: linear-gradient(to top, #2460de, #2257d5);

  border-top: 4px solid #408ce5;
  font-family: 'Pixelated MS Sans Serif', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* This must go over the window manager */
  z-index: 10;
}

#taskbar_start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  padding-right: 10px;
}

#taskbar_start img {
  height: 100%;
}

#taskbar_start img:hover {
  cursor: pointer;
}

#taskbar_icons {
  height: 100%;
  width: 85%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.taskbar_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 80%;
  width: 10%;

  padding: 2px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #4e91fa, #4380fd);

  border-style: outset;
  border-color: #63a2eb;
  border-width: 2px;
}

.taskbar_icon img {
  height: 100%;
}

.taskbar_icon span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 4px;

  color: #fff;
}

.taskbar_icon:hover {
  background-image: linear-gradient(to bottom, #4380fd, #4e91fa);
  border-color: #63a2eb;
  cursor: pointer;
}

#taskbar_controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
  width: 20%;

  font-size: 16px;

  color: #fff;
}

#taskbar_controls div {
  margin-right: 10px;
}

#taskbar_sound {
  height: 50%;
}

#taskbar_sound img {
  height: 90%;
}

#taskbar_wifi {
  height: 50%;
}

#taskbar_wifi img {
  height: 80%;
  transform: scaleX(-1);
}

#desktop_icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  max-height: 90%;
  width: fit-content;

  font-family: 'Pixelated MS Sans Serif', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  z-index: 5;
}

.desktop_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 6px;
  padding: 6px;

  width: 80px;
  word-wrap: anywhere;
  text-align: center;

  /* Prevents movement when border color is changed */
  border: 1px solid transparent;
  border-radius: 4px;

  color: #fff;
}

.desktop_icon:hover {
  border: 1px solid #c8c8c8;
  cursor: pointer;
}

.desktop_icon img {
  height: 50px;
  margin: 10px;
}