/* INFO */
#info {
  font-family:'Times New Roman', Times, serif
}

/* DORION */

#window_dorion .window_contents {
  background-color: #36393f;
}

#dorion pre {
  margin: 0;
  display: inline-block;
}

#dorion a {
  color: #5697ff;
  font-weight: bold;
}

#dorion {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;

  color: #fff;
}

#dorion_title {
  font-weight: bold;
  font-size: 30px;
}

#dorion img {
  width: 100%;
}

.dorion_img {
  width: 80%;

  padding: 10px;
  background-color: #26282c;
  border-radius: 6px;
}

/* SOLUTIONS */
#window_solutions .window_contents {
  margin: 40px;
  margin-top: 0;
  padding-top: 0;
}

#window_solutions {
  background: linear-gradient(to bottom, red, orange, cyan, blue, violet);
}

#solutions {
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

#solutions img  {
  width: 50%;
}

#solutions a {
  animation: RBBlink 1s infinite;
}

@keyframes RBBlink {
  0% {
    color: rgb(255, 0, 0);
  }
  50% {
    color: rgb(0, 0, 255);
  }
  100% {
    color: rgb(0, 255, 0);
  }
}

#solutions a:hover {
  cursor: pointer;
}

#solution_contents {
  padding: 20px;
}

/* THIS GITHUB PAGES SITE */

#window_spikehd_github_io {
  color: #fff;
  background-color: #22272e;

  padding: 0;
}

#window_spikehd_github_io a {
  color: #5697ff;
}

#window_spikehd_github_io pre {
  margin: 4px;
}

#window_spikehd_github_io .window_contents {
  padding: 0;
}

#solutions_link:hover {
  cursor: pointer;
}

#github_io {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  color: #fff;
}

#github_io_header {
  justify-content: flex-start;

  padding: 14px;

  background-color: #2d333b;
}

#github_io_header img {
  height: 30px;
  padding-right: 20px;
}

#github_search {
  width: 30%;
}

#github_io_header input {
  width: 100%;

  padding: 4px;
  border-radius: 4px;

  background-color: #22272e;
  border: 1px solid #444c56;
}

#github_io_header input::placeholder {
  color: #fff;
}

#github_io_header span {
  font-size: 14px;
  font-weight: 600;

  margin: 0 10px;
  color: #fff;
}

#repo_name {
  font-size: 24px;
  color: #539bf5;

  padding: 12px;
}

#repo_readme {
  margin: 30px;
  border: 1px solid #444c56;
  border-radius: 6px;
}

#readme_before {
  margin: 30px;

  justify-content: flex-start;
}

#readme_before span {
  color: #539bf5;
}

#repo_filename {
  font-weight: 600;
  color: #fff !important;
} 

#repo_branch {
  padding: 6px;
  margin-right: 20px;

  width: 80px;
  text-align:center;

  background-color: #373e47;

  border: 1px solid rgba(205, 217, 229, 0.1);
  border-radius: 6px;
}

#repo_branch img {
  margin-right: 4px;
}

#repo_readme_header {
  background-color: #2d333b;
  padding: 10px;
}

#github_io_contents {
  margin: 20px;
}

/* ASCIIVERT */

#asciivert {
  text-align: center;

  /* I want to use a shitty pixel-y font for this section but the Windows XP one is kinda bad for blocks of text, therefore I shall use the terminal one */
  font-family: 'ClaCon2', Arial, Helvetica, sans-serif;
}

#asciivert .code {
  text-align: left;
  background: #ddd;

  padding: 6px;
  border-radius: 6px;
}

#ascii_title {
  font-weight: bold;
  text-align: center !important;

  background: linear-gradient(to right, red, orange, cyan, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.ascii_image_section {
  border: 1px dotted #000;
}

#asciivert video {
  width: 80%;
  padding: 10px;
}

#asciivert img {
  width: 30%;
  padding: 10px;
}

/* AMAZON MONITOR */

#window_amazonmonitor {
  background-color: #eaeded;
}

#window_amazonmonitor pre {
  display: inline-block;
  margin: 0;
}

#window_amazonmonitor h2,
#window_amazonmonitor h1 {
  color: #ff9900;
}

#window_amazonmonitor .window_contents {
  padding: 0px;
}

#amazon_search {
  width: 50%;
}

#search_icon {
  width: 30px;
  height: 30px;
  background: #ffbc4a;

  transition: background-color 0.1s ease;

  border-radius: 0 4px 4px 0;
}

#search_icon:hover {
  cursor: pointer;
  background-color: #f3a847;
}

#search_icon img {
  margin: 4px 0 0 4px;

  height: 60% !important;
  width: 60% !important;
}

#amazon_search img {
  height: 80%;
}

#amazon_search input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

#amazonmonitor {
  font-family: 'Amazon Ember', Arial, Helvetica, sans-serif;
}

#amazon_top {
  padding: 20px;
  font-size: 30px;

  color: white;

  background-color: #131921;

  justify-content: space-between;
}

#amazon_top img {
  width: 10%;
}

#amazon_contents {
  margin: 20px;
}

.product_card {
  background: #fff;
  height: 400px;
  width: 40%;

  border-radius: 4px;

  padding: 10px;
  margin: 10px;

  justify-content: center;
}

.product_card span {
  padding: 10px;
  padding-bottom: 10%;
}

.amazon_image_container {
  height: 60%;
}

.product_image {
  width: 100%;
  max-height: 95%;
  padding-bottom: 40px;

  border-radius: 4px;
}

.reviews {
  width: 100%;
  height: 10px;
  font-size: 12px;

  justify-content: flex-start;
}

.reviews img {
  padding-right: 6px;
  height: 10px;
}

/* SLOTH */
#sloth pre {
  margin: 0;
  display: inline-block;
}

#sloth {

}

.sloth_image_section {
  width: 80%;

  margin: 20px;
  padding: 10px;

  border: 1px solid #000;
}

.sloth_image_section img {
  width: 80%;
}