/* INFO */
#info {
  font-family:'Times New Roman', Times, serif
}

/* DORION */

#window_dorion .window_contents {
  background-color: #36393f;
}

#dorion a {
  color: #5697ff;
  font-weight: bold;
}

#dorion {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;

  color: #fff;
}

#dorion_title {
  font-weight: bold;
  font-size: 30px;
}

#dorion img {
  width: 100%;
}

.dorion_img {
  width: 80%;

  padding: 10px;
  background-color: #26282c;
  border-radius: 6px;
}

/* THIS GITHUB PAGES SITE */

#github_io {
  font-family: Tahoma, Geneva, Verdana, sans-serif
}

/* ASCIIVERT */

#asciivert {
  text-align: center;

  /* I want to use a shitty pixel-y font for this section but the Windows XP one is kinda bad for blocks of text, therefore I shall use the terminal one */
  font-family: 'ClaCon2', Arial, Helvetica, sans-serif;
}

#asciivert .code {
  text-align: left;
  background: #ddd;

  padding: 6px;
  border-radius: 6px;
}

#ascii_title {
  font-weight: bold;
  text-align: center !important;

  background: linear-gradient(to right, red, orange, cyan, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.ascii_image_section {
  border: 1px dotted #000;
}

#asciivert video {
  width: 80%;
  padding: 10px;
}

#asciivert img {
  width: 30%;
  padding: 10px;
}

/* AMAZON MONITOR */

#window_amazonmonitor {
  background-color: #eaeded;
}

#window_amazonmonitor pre {
  display: inline-block;
  margin: 0;
}

#window_amazonmonitor h2,
#window_amazonmonitor h1 {
  color: #ff9900;
}

#window_amazonmonitor .window_contents {
  padding: 0px;
}

#amazon_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 50%;
}

#search_icon {
  width: 30px;
  height: 30px;
  background: #ffbc4a;

  transition: background-color 0.1s ease;

  border-radius: 0 4px 4px 0;
}

#search_icon:hover {
  cursor: pointer;
  background-color: #f3a847;
}

#search_icon img {
  margin: 4px 0 0 4px;

  height: 60% !important;
  width: 60% !important;
}

#amazon_search img {
  height: 80%;
}

#amazon_search input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

#amazonmonitor {
  font-family: 'Amazon Ember', Arial, Helvetica, sans-serif;
}

#amazon_top {
  padding: 20px;
  font-size: 30px;

  color: white;

  background-color: #131921;

  justify-content: space-between;
}

#amazon_top img {
  width: 10%;
}

#amazon_contents {
  margin: 20px;
}

.product_card {
  background: #fff;
  height: 400px;
  width: 40%;

  border-radius: 4px;

  padding: 10px;
  margin: 10px;

  justify-content: center;
}

.product_card span {
  padding: 10px;
  padding-bottom: 10%;
}

.amazon_image_container {
  height: 60%;
}

.product_image {
  width: 100%;
  max-height: 95%;
  padding-bottom: 40px;

  border-radius: 4px;
}

.reviews {
  width: 100%;
  height: 10px;
  font-size: 12px;

  justify-content: flex-start;
}

.reviews img {
  padding-right: 6px;
  height: 10px;
}