/* DIALOG WINDOWS */

/*
 * This is yoinked from https://codepen.io/jo_Geek/pen/eBYQqX
 */
.dialog[class*='window_Information'] {
  background-color: rgb(221, 221, 221);
}

.dialog button {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #848484;
  border-bottom: 1px solid #848484;
  background-color: transparent;
  padding: 3px 15px 3px 15px;
}

.dialog button:hover,
.dialog button:focus {
  outline: 0;
}

.dialog button:active {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #848484;
  border-top: 1px solid #848484;
}

/* INFO */
#info {
  font-family:'Times New Roman', Times, serif
}

/* DORION */

#window_dorion .window_contents {
  background-color: #36393f;
}

#dorion pre {
  margin: 0;
  display: inline-block;
}

#dorion a {
  color: #5697ff;
  font-weight: bold;
}

#dorion div {
  margin: 10px;
}

#dorion {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;

  color: #fff;
}

#dorion_title {
  font-weight: bold;
  font-size: 30px;
}

#dorion img {
  width: 100%;
}

.dorion_img {
  width: 80%;

  padding: 10px;
  background-color: #26282c;
  border-radius: 6px;
}

/* SOLUTIONS */
#window_solutions .window_contents {
  margin: 40px;
  margin-top: 0;
  padding-top: 0;
}

#window_solutions {
  background: linear-gradient(to bottom, red, orange, cyan, blue, violet);
}

#solutions {
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

#solutions img  {
  width: 50%;
}

#solutions a {
  animation: RBBlink 1s infinite;
}

@keyframes RBBlink {
  0% {
    color: rgb(255, 0, 0);
  }
  50% {
    color: rgb(0, 0, 255);
  }
  100% {
    color: rgb(0, 255, 0);
  }
}

#solutions a:hover {
  cursor: pointer;
}

#solution_contents {
  padding: 20px;
}

/* THIS GITHUB PAGES SITE */

#window_spikehd_github_io {
  color: #fff;
  background-color: #22272e;

  padding: 0;
}

#window_spikehd_github_io a {
  color: #5697ff;
}

#window_spikehd_github_io pre {
  margin: 4px;
}

#window_spikehd_github_io .window_contents {
  padding: 0;
}

#solutions_link:hover {
  cursor: pointer;
}

#github_io {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  color: #fff;
}

#github_io_header {
  justify-content: flex-start;

  padding: 14px;

  background-color: #2d333b;
}

#github_io_header img {
  height: 30px;
  padding-right: 20px;
}

#github_search {
  width: 30%;
}

#github_io_header input {
  width: 100%;

  padding: 4px;
  border-radius: 4px;

  background-color: #22272e;
  border: 1px solid #444c56;
}

#github_io_header input::placeholder {
  color: #fff;
}

#github_io_header span {
  font-size: 14px;
  font-weight: 600;

  margin: 0 10px;
  color: #fff;
}

#repo_name {
  font-size: 24px;
  color: #539bf5;

  padding: 12px;
}

#repo_readme {
  margin: 30px;
  border: 1px solid #444c56;
  border-radius: 6px;
}

#readme_before {
  margin: 30px;

  justify-content: flex-start;
}

#readme_before span {
  color: #539bf5;
}

#repo_filename {
  font-weight: 600;
  color: #fff !important;
} 

#repo_branch {
  padding: 6px;
  margin-right: 20px;

  width: 80px;
  text-align:center;

  background-color: #373e47;

  border: 1px solid rgba(205, 217, 229, 0.1);
  border-radius: 6px;
}

#repo_branch img {
  margin-right: 4px;
}

#repo_readme_header {
  background-color: #2d333b;
  padding: 10px;
}

#github_io_contents {
  margin: 20px;
}

/* ASCIIVERT */

#asciivert {
  text-align: center;

  /* I want to use a shitty pixel-y font for this section but the Windows XP one is kinda bad for blocks of text, therefore I shall use the terminal one */
  font-family: 'ClaCon2', Arial, Helvetica, sans-serif;
}

#asciivert .code {
  text-align: left;
  background: #ddd;

  padding: 6px;
  border-radius: 6px;
}

#ascii_title {
  font-weight: bold;
  text-align: center !important;

  background: linear-gradient(to right, red, orange, cyan, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.ascii_image_section {
  border: 1px dotted #000;
}

#asciivert video {
  width: 80%;
  padding: 10px;
}

#asciivert img {
  width: 30%;
  padding: 10px;
}

/* AMAZON MONITOR */

#window_amazonmonitor {
  background-color: #eaeded;
}

#window_amazonmonitor pre {
  display: inline-block;
  margin: 0;
}

#window_amazonmonitor h2,
#window_amazonmonitor h1 {
  color: #ff9900;
}

#window_amazonmonitor .window_contents {
  padding: 0px;
}

#amazon_search {
  width: 50%;
}

#search_icon {
  width: 30px;
  height: 30px;
  background: #ffbc4a;

  transition: background-color 0.1s ease;

  border-radius: 0 4px 4px 0;
}

#search_icon:hover {
  cursor: pointer;
  background-color: #f3a847;
}

#search_icon img {
  margin: 4px 0 0 4px;

  height: 60% !important;
  width: 60% !important;
}

#amazon_search img {
  height: 80%;
}

#amazon_search input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

#amazonmonitor {
  font-family: 'Amazon Ember', Arial, Helvetica, sans-serif;
}

#amazon_top {
  padding: 20px;
  font-size: 30px;

  color: white;

  background-color: #131921;

  justify-content: space-between;
}

#amazon_top img {
  width: 10%;
}

#amazon_contents {
  margin: 20px;
}

.product_card {
  background: #fff;
  height: 400px;
  width: 40%;

  border-radius: 4px;

  padding: 10px;
  margin: 10px;

  justify-content: center;
}

.product_card span {
  padding: 10px;
  padding-bottom: 10%;
}

.amazon_image_container {
  height: 60%;
}

.product_image {
  width: 100%;
  max-height: 95%;
  padding-bottom: 40px;

  border-radius: 4px;
}

.reviews {
  width: 100%;
  height: 10px;
  font-size: 12px;

  justify-content: flex-start;
}

.reviews img {
  padding-right: 6px;
  height: 10px;
}

/* SLOTH */
#sloth pre {
  margin: 0;
  display: inline-block;
}

#sloth {
  font-family: Arial, Helvetica, sans-serif;
}

.sloth_image_section {
  width: 80%;

  margin: 20px;
  padding: 10px;

  border: 1px solid #000;
}

.sloth_image_section img {
  width: 80%;
}

#sloth .code {
  text-align: left;
  background: #ddd;

  padding: 6px;
  margin: 10px;
  border-radius: 6px;
}

/* NDS PONG */
#window_nds_pong {
  background-color: #202020;
}

#window_nds_pong .window_contents {
  padding: 0px;
}

.nds_container {
  height: 100%;
}

.nds_screen {
  height: 80%;
  width: 50%;
  
  border-style: outset;
  border-color: #363636;
  border-width: 10px;

  padding: 4px;

  background-color: white;

  text-align: center;

  font-size: 20px;
  font-family: "Pixelated MS Sans Serif";

  overflow: auto;
}

.ds_icon {
  filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(103%) contrast(92%);

  position: absolute;

  height: 180px;
}

.ds_icon img {
  height: 100%;
}

.nds_left {
  top: 30%;
  left: 0;
}

.nds_right {
  top: 30%;
  right: 0;
}

.nds_screen_image {
  width: 80%;
  border: 2px solid #000;
}

/* CVHero */
#window_cv_hero .window_contents {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 90%;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#window_cv_hero {
  background-image: linear-gradient(to right, #62548d, #7c6eac, #9798f1, #8a91ec, #987fcb);
}

.cv_main a {
  color: #fff;
}

.cv_main {
  color: #fff;
  width: 55%;

  padding: 0;
  margin: 0;

  font-family: 'Lato';
  font-weight: 300;

}

.cv_main div {
  padding: 10px;
  margin: 6px;
}

.cv_titlebar {
  background: #1b1b1b;
}

.cv_menubar {
  background: #4646468c;
}

.cv_song {
  position: absolute;
  width: 40%;

  left: 55%;
  top: 56px;

  height: 320px;

  font-size: 20px;

  background: #4646468c;
}

.cv_song img {
  width: 100%;
}

/* DIGDIG (wow ths file is getting long) */
#window_digdig .window_contents {
  background-image: url('../image/digdig_menu.png');
  padding-top: 0;
  padding-bottom: 20;

  color: #fff;
}

#window_digdig p {
  margin: 10px 20px 10px 20px;
}

#window_digdig a {
  color: #fff;
}

#window_digdig h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;

  margin: 6px;
}

.digdig_main {
  margin: 0 40px 0 40px;
  background-color: rgba(27, 28, 51, 0.8);
  
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digdig_subtitle {
  font-size: 20px;
  font-weight: 300;
  text-align: center;

  margin: 6px;
}

.digdig_screenshots {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
