html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  backdrop-filter: blur(5px);

  margin: 0;
  padding: 0;
}

#info_chunk,
#top_chunk {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}

#top_chunk {
  background-image: url(./images/rust2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

#info_chunk {
  background-image: linear-gradient(to bottom, #22272E, #1C2128 2%);
}

.inner {
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  user-select: none;

  padding: 2rem;
}

#title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link_btn {
  padding: 20px;
  margin: 20px;
  background-color: grey;

  border-radius: 4px;

  transition: all 0.1s ease-in-out;
}

.link_btn a {
  color: #fff;
  font-size: 1.5rem;

  text-decoration: none;
}

.link_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.down_arrow img {
  width: 30px;
  animation: bounce 1s infinite;
}

.down_arrow {
  /* Horizontally middle of screen */
  position: absolute;
  left: calc(50% - 30px);

  top: 90vh;
}

/* Animate down arrow to bounce twice */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.info_card {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #fff;

  height: 35vh;
  width: 80%;

  padding: 30px;

  font-size: 1.2rem;
}

.info_card div {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info_card div img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}